.hero-section {
  position: relative;
  color: white;
  overflow: hidden;
}

.slide {
  position: relative;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  transition: transform 8s ease, opacity 1.2s ease-in-out;
  animation: smoothZoom 12s ease-in-out infinite alternate;
}

.slide-1 {
    background-image: url("	https://official.garena.com/intl/v1/config/gallery_ff.jpg");
}

.slide-2 {
    background-image: url("https://official.garena.com/intl/v1/config/banner_esport.jpg");
}

.slide-3 {
    background-image: url("https://official.garena.com/intl/v1/config/banner_ff.jpg");
}

@keyframes smoothZoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

.slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
  z-index: 1;
}

.slide-container {
  position: relative;
  z-index: 2;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.live-tag {
  background: linear-gradient(90deg, #ffba00, #ffba00a0);
  color: #0b0f19;
  font-weight: 700;
  border-radius: 6px;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.steaming-text {
  font-family: "Bangers", sans-serif;
  color: #ffffff;
  text-shadow: 3px 3px 0 #ffba00;
  letter-spacing: 2px;
  transition: all 0.6s ease-in-out;
}

.contact-btn {
  background: transparent;
  border: 2px solid #ffba00;
  border-radius: 50px;
  padding: 10px 28px;
  color: white;
  font-weight: 700;
  transition: 0.4s ease;
}

.contact-btn:hover {
  background: #ffba00;
  color: #0b0f19;
}

.carousel-fade .carousel-item {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 1.5s;
}

.carousel-fade .carousel-item.active {
  opacity: 1;
  transition-duration: 1.5s;
}

@media (max-width: 768px) {
  .steaming-text {
    font-size: 2.5rem;
  }
}

